{
    "extends": "@react-native-community",
    "rules": {
        "quotes": [
            2,
            "double",
            {
                "avoidEscape": true
            }
        ],
        "no-unused-vars": "off",
        "prettier/prettier": [
            "error",
            {
                "endOfLine": "auto"
            }
        ]
    }
}